 <html>
 <head><title> Formulario</title>

 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
 </head>
 <body>
 
 <div id="app">
  <p>{{message}}</p>
	<p>{{v1}} + {{v2}}</p>
  
    <label for="email">Nome </label>
	 <input type="text" v-model="nome">
	 <label for="email">Sobrenome </label>
	 <input type="text" v-model="sobrenome">
  <button @click="enviar">Enviar</button><br>
  
  <ul id="example-1">
  <li v-for="item in someData.body">
    {{ item.nome }} {{item.sobrenome}}
  </li>
</ul>
  
  Resultado:
  {{resultado}}
  
  
 </div>

</center>
</body>

<script>
var app = new Vue({
  el: '#app',
  data: {
    message: '',
	v1: '',
	v2: '',
	nome:'',
	sobrenome:'',
	someData:'',
	//resultado: ''
  },
  created: function(){
  this.$http.get('http://localhost:3000/api/v1/pesquisar').then(response => {
		console.log(response)

    // get body data
    this.someData = response;

  }, response => {
    // error callback
  });
  },
  methods: {
	enviar: function(){
	alert()
	this.$http.post('http://localhost:3000/api/v1/criar', {nome: this.nome, sobrenome:this.sobrenome}).then();
	},
  
		//calcular: function(v1, v2){
		//this.resultado = parseInt(v1) + parseInt(v2)
		//}
		}
})
</script>
</html>